---
title: null
siteName: GoTo files
description: null
menu: null
---
{% set css %}
  {% include "style.css" %}
{% endset %}
{% set js %}
  {% include "headscript.js" %}
{% endset %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{{ css | cssmin | safe }}</style>
    {% if description %}
      <meta name="description" content="{{description}}">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js" integrity="sha512-eUQ9hGdLjBjY3F41CScH3UX+4JDSI9zXeroz7hJ+RteoCaY+GP/LDoM8AO+Pt+DRFw3nXqsjh9Zsts8hnYv8/A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ==" crossorigin="anonymous"></script>
    <script defer data-domain="gotofile.gitlab.io" src="https://plausible.io/js/plausible.js"></script>
    <script>
      {{ js | jsmin | safe }}
    </script>
    <title>{% if (title == null) %}{{siteName}}{% else %}{{title}} - {{siteName}}{% endif %}</title>
  </head>
  <body>
    <form class="modal fade" id="cookieModal" tabindex="-1" data-backdrop="static" aria-labelledby="cookieModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cookieModalLabel">Cookies &amp; analytics</h5>
          </div>
          <div class="modal-body">
            This site uses Plausible Analytics, which uses no cookies.<br/>
            This site also uses localStorage (similar to cookies) for technical purposes.
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </form>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{navigation.brand.url}}">{{navigation.brand.text}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for item in navigation.menu %}

            {% set active = false %}
            {% set absoluteActive = false %}
            {% set subitemActive = false %}
            {% set dropdown = false %}

            {% if item.dropdown %}
              {% set dropdown = true %}
              {% set active = false %}
              {% for subitem in item.dropdown %}
                {% if (page.url == subitem.url) %}
                  {% set active = true %}
                  {% set absoluteActive = false %}
                {% elif menu %}
                  {% if (menu == subitem.menu) %}
                    {% set active = true %}
                    {% set absoluteActive = false %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% else %}
              {% set dropdown = false %}
              {% set active = false %}
            {% endif %}

            {% if item.url %}
              {% if (page.url==item.url) %}
                {% set active = true %}
                {% set absoluteActive = true %}
              {% elif menu %}
                {% if (menu == item.menu) %}
                  {% set active = true %}
                  {% set absoluteActive = true %}
                {% endif %}
              {% else %}
                {% set absoluteActive = false %}
              {% endif %}
            {% endif %}
            
            <li class="nav-item{% if dropdown %} dropdown{% endif %}{% if active %} active{% endif %}">
              <a class="nav-link{% if dropdown %} dropdown-toggle{% endif %}"
                href="{% if item.url %}{{item.url}}{% else %}javascript:void(0){% endif %}"
                {% if dropdown %}role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}
              >{{item.text}}{% if active %}{% if absoluteActive %}<span class="sr-only"> (current)</span>{% endif %}{% endif %}</a>
              {% if dropdown %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for subitem in item.dropdown %}
                    {% set subitemActive = false %}
                    {% if (page.url == subitem.url) %}
                      {% set subitemActive = true %}
                    {% elif menu %}
                      {% if (menu == subitem.menu) %}
                        {% set subitemActive = true %}
                      {% endif %}
                    {% endif %}
                    <a class="dropdown-item{% if subitemActive %} active{% endif %}" href="{{subitem.url}}">{{subitem.text}}{% if subitemActive %}<span class="sr-only"> (current)</span>{% endif %}</a>
                  {% endfor %}
                </div>
              {% endif %}
            </li>
          
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% if menu %}
      <ul class="nav nav-tabs nav-fill">
        {% for item in menus[menu] %}
          {% if (page.url == item.url) %}
            {% set menuitemActive = true %}
          {% else %}
            {% set menuitemActive = false %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link{% if menuitemActive %} active{% endif %}" href="{{item.url}}">{{item.text}}{% if menuitemActive %}<span class="sr-only"> (current)</span>{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <main>{{content | safe}}</main>
  </body>
</html>