---
layout: layout.njk
title: GoTo editor (UWP)
description: Universal Windows application to create, edit, and view GoTo files. (Windows 10 PC only)
menu: editor-uwp
---
<div class="jumbotron">
  <h1 class="display-4">GoTo editor (UWP)</h1>
  <p class="lead">Universal Windows application to create, edit, and view GoTo files. (Windows 10 PC only)</p>
  <hr class="my-4">
  <p>Supported languages: English, Italiano</p>
  <a class="btn btn-primary btn-lg" href="https://www.microsoft.com/store/apps/9PMZZG09Z9WP" role="button">Download from Microsoft Store</a>
</div>