---
layout: layout.njk
title: GoTo files for Google Drive
description: GoTo files for Google Drive
menu: gdrive
---
<div class="jumbotron">
  <h1 class="display-4">GoTo files for Google Drive</h1>
  <p class="lead">App to create, edit, and view GoTo files from Google Drive.</p>
  <hr class="my-4">
  <p>Supported languages: English, Italiano</p>
  <a class="btn btn-primary btn-lg" href="https://gsuite.google.com/marketplace/app/goto_files/969587357926?utm_source=website&utm_medium=about-page&utm_campaign=jumbotron" role="button">Install from G Suite Marketplace</a>
</div>