---
layout: layout.njk
title: GoTo maker
description: Create GoTo files directly from your browser.
menu: maker
---
<div class="jumbotron">
  <h1 class="display-4">GoTo maker</h1>
  <p class="lead">Create GoTo files directly from your browser.</p>
  <hr class="my-4">
  <p>Supported languages: English, Italiano</p>
  <a class="btn btn-primary btn-lg" href="/maker/downloads" role="button">Install</a>
</div>