---
layout: layout.njk
description: A file linked to a URL, optionally with notes.
---
<div class="jumbotron">
  <h1 class="display-4">GoTo files</h1>
  <p class="lead">A file linked to a URL, optionally with notes.</p>
  <hr class="my-4">
  <p>GoTo files make it possible to share links just like other files.</p>
  <a class="btn btn-primary btn-lg" href="https://gitlab.com/gotofile" role="button">View on GitLab</a>
</div>