---
layout: layout.njk
title: GoTo editor for Windows
description: Windows application to edit and view GoTo files.
menu: editor-windows
---
<div class="jumbotron">
  <h1 class="display-4">GoTo editor for Windows</h1>
  <p class="lead">Windows application to edit and view GoTo files.</p>
  <hr class="my-4">
  <p>Supported languages: English, Italiano</p>
  <a class="btn btn-primary btn-lg" href="https://gitlab.com/gotofile/gotoedit-windows/uploads/609d65771adfef1f271670f16cffd26b/GoToEditor-1.0.0.0-Setup.exe" role="button">Download version 1.0.0.0</a>
</div>